body {
  background-image: url('../img/bgpattern.png');
  background-position: top center;
  background-repeat: repeat;
}
.container-fluid {
  max-width: 100vh;
  background: #14191b;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(27, 31, 32, 0.9);
  border-top: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-bottom: 1em;
}
.large-logo {
  margin: 1em 0;
}
.large-logo img {
  max-width: 100%;
  max-height: 100%;
}
.download-now {
  text-align: center;
}
.download-now h2 {
  font-size: 2.4em;
}
.download-now a {
  background: #363f40;
  padding: 0.3em;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
.download-now a div {
  color: #fff;
  display: inline-block;
}
.download-now a:hover {
  text-decoration: none;
  color: #fff;
}
.copyright {
  font-size: 0.8em;
  text-align: center;
  color: #596869;
  padding: 1em;
}
.btn {
  font-family: "Fjalla One", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.socialButtons {
  text-align: center;
  margin: 1em 0;
}
.socialButtons .btn {
  margin: 0.25em;
}
@media (max-width: 767px) {
  .download-now {
    font-size: 0.7em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .download-now {
    font-size: 0.9em;
  }
}
