//Starting Point Styles

@import "variables.less";
@import "mixins.less";
@import "theme.less";

.navbar-toggle{
    margin: 0;
    margin-right: 15px;
    height: @navbar-height;
}

@import "applayout.less";
@import "mediaqueries.less";
@import "appmediaqueries.less";
